body{
margin: 0;
padding: 0;
}
.main{
    position: relative;
}
.grediand{
    width: 100%;
    height: 100vh;
    background-image: url("bacroundimg.jpg");
    z-index: 100;
}
.grediand2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(black,transparent,black);

}